body{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 20px;
}

#logo{
    height:  50px;
    border-radius: 50%;
}

.right-header-links{
    display: flex;
    gap: 10px;
    list-style: none;
}

.header-link{
    color: #e5e7eb;
    text-decoration: none;
}

.header-link:hover{
    color: #717171;
}

.hero{
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);;
}

.hero-text h1, 
.hero-text p, 
.hero-text .btn {
    margin: 5px 0;
}

.name{
    font-size: 48px ;
    color: #f9faf8 ;
    font-weight: 900;
}

.hero-message{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-btn{
    background-color: rgb(105, 124, 246);
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    font-weight: 600;
    align-self: center;
}

.hero-btn:hover{
    background-color: rgb(74, 98, 249);
    cursor: pointer;
}

.hero-image img{
    height: 300px;
    border-radius: 20px;
}

.about{
    text-align: center;
    color: #1f2937;
}

 h2{
    font-size: 36px;
    font-weight: 900;
}

.services{
    color: #1f2937;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-list{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.projects{
    color: #1f2937;
    text-align: center;
}

.projects h3{
    font-style:italic ;
}

.footer{
    margin: 0;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.social-media-icons a{
    color: #e5e7eb;
}






